<div class="clear-container">
	<div class="main-project-photo">
		<img data-bind="attr:{ src: 'portfolio/' + id() + '/page.jpg' }">
	</div>

	<div class="right-sidebar">
		<div class="sticky" data-bind="attr: { id: id()+'sticker' }, sticky: $data, topSpacing: '165'">

		    <h3 data-bind="text: name"></h3>
		    <ul class="types clearfix" data-bind="foreach: { data: types, afterRender: $root.tooltip }">
				<li><img data-bind="attr: { src: $root.types[name].path, title: $root.types[name].tooltip }" class="tipsy"></li>
			</ul>
		    <span class="bold">Κατηγορία: </span><span data-bind="text: category_el"></span>
		    <span class="bold">Category: </span><span data-bind="text: category_en"></span>
		    <a href="#" class="directTop" data-bind="click: $root.afterShow">top</a>
		</div>

	</div>

	<div class="project-content">
		<div class="project-text">
			<span class="bold">Περιγραφή: </span>
			<span data-bind="text: description_el"></span>
			<span class="bold">Description: </span>
			<span data-bind="text: description_en"></span>
			<hr/>
			<span class="bold">Ενεργεια: </span>
			<span data-bind="text: action_el"></span>
			<span class="bold">Action: </span>
			<span data-bind="text: action_en"></span>
		</div>

		<!-- ko if: videos().length -->
	    <div id="project-videos" data-bind="videos: $data"></div>
	    <!-- /ko -->
	    <div class="photogallery" data-bind="foreach: photos">
			<img data-bind="attr: { src: $parent.photoPath() + path }">
		</div>
	</div>
	<div class="clear"></div>
</div>